
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <label for="email">Email: </label>
  <input type="text" name="email" [(ngModel)]="model.email">
  <br/>
  <label for="username">Username: </label>
  <input type="text" name="username" [(ngModel)]="model.username">
  <br/>
  <label for="password">Password: </label>
  <input type="password" name="password" [(ngModel)]="model.password">
  <button type="submit" value="submit" [disabled]="!loginForm.form.valid">Submit</button>
</form>


<p>username is: {{model.username}}</p>